<launch>

<arg name="path_slam_config" default = "/home/yanwei/roboslam_ws/src/ORB_Data/"/>
<arg name="output_dir" default = "/tmp/orb3_imu"/>
<arg name="num_all_feature" default = "1200" />
<arg name="do_rectify" default = "false" />
<arg name="do_vis" default = "0" />
<arg name="slam_pose_topic" default="/visual/pose"/>


<!-- call baselin ORB-SLAM for vision-based state estimation  -->
<node pkg="ORB_SLAM3" type="RGBD_Inertial" name="visual_slam" 
    args="$(arg path_slam_config)/ORBvoc.bin 
        $(arg path_slam_config)/Gazebo_yaml/d435i_orb3_inertial_rgbd.yaml 
        $(arg num_all_feature) 
        $(arg do_vis) 
        /camera/color/image_raw 
        /camera/depth/image_raw 
        /camera/imu 
        $(arg output_dir)" output="screen">
    <remap from="ORB_SLAM/camera_pose_in_imu" to="$(arg slam_pose_topic)"/>
</node>

<node pkg="imu_transformer" type="imu_transformer_node" name="imu_transformer_node">
    <param name="target_frame" value="camera_color_optical_frame"/>
    <remap from="/imu_in/data" to="/imu0"/>
    <remap from="/imu_out/data" to="/camera/imu"/>
</node>

</launch>

